In [2]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [7]:
cen = pd.read_csv('census.csv')
cen

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
5,2005,European Union (28 countries),Total public expenditure on education as % of ...,4.92,e
6,2006,European Union (28 countries),Total public expenditure on education as % of ...,4.91,e
7,2007,European Union (28 countries),Total public expenditure on education as % of ...,4.92,e
8,2008,European Union (28 countries),Total public expenditure on education as % of ...,5.04,e
9,2009,European Union (28 countries),Total public expenditure on education as % of ...,5.38,e
10,2010,European Union (28 countries),Total public expenditure on education as % of ...,5.41,e
11,2011,European Union (28 countries),Total public expenditure on education as % of ...,5.25,e
12,2000,European Union (27 countries),Total public expenditure on education as % of ...,4.91,s
13,2001,European Union (27 countries),Total public expenditure on education as % of ...,4.99,s
14,2002,European Union (27 countries),Total public expenditure on education as % of ...,5.00,e
15,2003,European Union (27 countries),Total public expenditure on education as % of ...,5.04,e
16,2004,European Union (27 countries),Total public expenditure on education as % of ...,4.95,e
17,2005,European Union (27 countries),Total public expenditure on education as % of ...,4.92,e
18,2006,European Union (27 countries),Total public expenditure on education as % of ...,4.91,e
19,2007,European Union (27 countries),Total public expenditure on education as % of ...,4.93,e
20,2008,European Union (27 countries),Total public expenditure on education as % of ...,5.04,e
21,2009,European Union (27 countries),Total public expenditure on education as % of ...,5.38,e
22,2010,European Union (27 countries),Total public expenditure on education as % of ...,5.41,e
23,2011,European Union (27 countries),Total public expenditure on education as % of ...,5.25,e
24,2000,European Union (25 countries),Total public expenditure on education as % of ...,4.94,s
25,2001,European Union (25 countries),Total public expenditure on education as % of ...,5.02,s
26,2002,European Union (25 countries),Total public expenditure on education as % of ...,5.03,e
27,2003,European Union (25 countries),Total public expenditure on education as % of ...,5.06,e
28,2004,European Union (25 countries),Total public expenditure on education as % of ...,4.98,e
29,2005,European Union (25 countries),Total public expenditure on education as % of ...,4.95,e
...,...,...,...,...,...
354,2006,Slovenia,Total public expenditure on education as % of ...,5.72,NaN
355,2007,Slovenia,Total public expenditure on education as % of ...,5.15,NaN
356,2008,Slovenia,Total public expenditure on education as % of ...,5.20,NaN
357,2009,Slovenia,Total public expenditure on education as % of ...,5.69,NaN
358,2010,Slovenia,Total public expenditure on education as % of ...,5.68,NaN
359,2011,Slovenia,Total public expenditure on education as % of ...,5.68,NaN
360,2000,Slovakia,Total public expenditure on education as % of ...,3.92,i
361,2001,Slovakia,Total public expenditure on education as % of ...,3.99,d
362,2002,Slovakia,Total public expenditure on education as % of ...,4.31,d
363,2003,Slovakia,Total public expenditure on education as % of ...,4.30,d
364,2004,Slovakia,Total public expenditure on education as % of ...,4.19,d
365,2005,Slovakia,Total public expenditure on education as % of ...,3.85,d
366,2006,Slovakia,Total public expenditure on education as % of ...,3.80,d
367,2007,Slovakia,Total public expenditure on education as % of ...,3.62,d
368,2008,Slovakia,Total public expenditure on education as % of ...,3.61,d
369,2009,Slovakia,Total public expenditure on education as % of ...,4.09,d
370,2010,Slovakia,Total public expenditure on education as % of ...,4.22,d
371,2011,Slovakia,Total public expenditure on education as % of ...,4.06,d
372,2000,Finland,Total public expenditure on education as % of ...,5.89,NaN
373,2001,Finland,Total public expenditure on education as % of ...,6.06,NaN
374,2002,Finland,Total public expenditure on education as % of ...,6.22,NaN
375,2003,Finland,Total public expenditure on education as % of ...,6.43,NaN
376,2004,Finland,Total public expenditure on education as % of ...,6.42,NaN
377,2005,Finland,Total public expenditure on education as % of ...,6.30,NaN
378,2006,Finland,Total public expenditure on education as % of ...,6.18,NaN
379,2007,Finland,Total public expenditure on education as % of ...,5.90,NaN
380,2008,Finland,Total public expenditure on education as % of ...,6.10,NaN
381,2009,Finland,Total public expenditure on education as % of ...,6.81,NaN
382,2010,Finland,Total public expenditure on education as % of ...,6.85,NaN
383,2011,Finland,Total public expenditure on education as % of ...,6.76,NaN

# Question 1
When appending new rows to a dataframe, the parameters 'ignore_index' and 'sort' are useful in the process. 'ignore_index' tells the computer when to use index labels. While 'sort' sorts all of the numbers and helps to keep the data set organized.

# Question 2

The columns are census year, state fips code, totaly family icome, age, sex, race general, marital status, and totaly personal income. This is state by the code: "census_year","state_fips_code","total_family_income","age","sex",
"race_general","marital_status","total_personal_income"

# Question 3

In [ ]:
cen [19:46]

In [ ]:
cen [23:27][['age','sex','race_general']]

In [ ]:
cen [45][['census_year' , 'state_fips_code' , 'total_family_income' , 'age' , 'sex' , 'race_general' , 'marital_status' , 'total_personal_income']]

In [ ]:
cen [['census_year','state_fips_code']]

# Question 4

In [ ]:
PrintAge = cen['age']
PrintAge

# Question 5

In [ ]:
cen_sus = cen

cen_sus.drop(['census_year'])
cen_sus['family_minus_personal_income'] = cen_sus['total_family_income'-'total_personal_income']
cen_sus['family_income_squared'] = cen_sus['total_family_income']**2
cen_sus

# Question 6