In [25]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [26]:
cen = pd.read_csv('census.csv')
cen

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

# Question 1
When appending new rows to a dataframe, the parameters 'ignore_index' and 'sort' are useful in the process. 'ignore_index' tells the computer when to use index labels. While 'sort' sorts all of the numbers and helps to keep the data set organized.

# Question 2

*COMMENT: I don't think that code will tell you the columns. Maybe this is a partial answer? 1/2 pts*

The columns are census year, state fips code, totaly family icome, age, sex, race general, marital status, and totaly personal income. This is state by the code: "census_year","state_fips_code","total_family_income","age","sex",
"race_general","marital_status","total_personal_income"

# Question 3

In [27]:
cen [19:46]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0
31,2000,Florida,118100.0,18,Female,White,Never married/single,7500.0
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0
36,2000,Florida,0.0,18,Male,White,Never married/single,2000.0
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN
38,2000,Florida,30270.0,26,Male,Other,Married/spouse present,24250.0
39,2000,New York,8800.0,82,Female,White,Widowed,8800.0
40,2000,New York,0.0,46,Female,White,Divorced,17000.0
41,2000,New York,165000.0,63,Male,White,Married/spouse present,123000.0
42,2000,New York,15570.0,83,Male,White,Widowed,15570.0
43,2000,New York,48630.0,35,Female,White,Married/spouse present,15830.0
44,2000,New York,13000.0,1,Male,White,Never married/single,NaN
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN

In [28]:
cen [23:27][['age','sex','race_general']]

    age     sex race_general
23   47    Male        White
24   12    Male        White
25   47    Male        White
26    8  Female        White

In [29]:
cen[45:46]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN

In [30]:
cen [['census_year','state_fips_code']]

     census_year state_fips_code
0           2000         Florida
1           2000         Florida
2           2000         Florida
3           2000         Florida
4           2000         Florida
5           2000         Florida
6           2000         Florida
7           2000         Florida
8           2000         Florida
9           2000         Florida
10          2000         Florida
11          2000         Florida
12          2000         Florida
13          2000         Florida
14          2000         Florida
15          2000         Florida
16          2000         Florida
17          2000         Florida
18          2000         Florida
19          2000         Florida
20          2000         Florida
21          2000         Florida
22          2000         Florida
23          2000         Florida
24          2000         Florida
25          2000         Florida
26          2000         Florida
27          2000         Florida
28          2000         Florida
29          2000         Florida
..           ...             ...
470         2000    Pennsylvania
471         2000    Pennsylvania
472         2000    Pennsylvania
473         2000    Pennsylvania
474         2000    Pennsylvania
475         2000    Pennsylvania
476         2000    Pennsylvania
477         2000    Pennsylvania
478         2000    Pennsylvania
479         2000    Pennsylvania
480         2000    Pennsylvania
481         2000    Pennsylvania
482         2000    Pennsylvania
483         2000    Pennsylvania
484         2000    Pennsylvania
485         2000    Pennsylvania
486         2000    Pennsylvania
487         2000    Pennsylvania
488         2000    Pennsylvania
489         2000    Pennsylvania
490         2000    Pennsylvania
491         2000    Pennsylvania
492         2000    Pennsylvania
493         2000        Virginia
494         2000        Virginia
495         2000        Virginia
496         2000        Virginia
497         2000        Virginia
498         2000        Virginia
499         2000        Virginia

[500 rows x 2 columns]

# Question 4

In [31]:
PrintAge = cen[['age']]
PrintAge

     age
0     44
1     20
2     20
3      6
4     55
5     43
6     60
7     47
8     54
9     58
10    33
11    51
12    62
13     8
14    25
15    44
16    28
17     1
18    31
19    69
20    31
21    80
22     2
23    47
24    12
25    47
26     8
27    67
28    17
29    69
..   ...
470    1
471   29
472   61
473   36
474   25
475   41
476    9
477   10
478   13
479    3
480   15
481   32
482   68
483   32
484   32
485   24
486   18
487   41
488    6
489   38
490   43
491   76
492   24
493   36
494    5
495   68
496   12
497   60
498   60
499   47

[500 rows x 1 columns]

# Question 5

*COMMENT: it looks like you added columns instead of rows.  But you did that correctly, so full credit*

In [32]:
cen_sus = cen

cen_sus.drop(['census_year'], axis=1)

,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,Florida,23000.0,6,Female,White,Never married/single,NaN
4,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,Florida,14600.0,58,Female,White,Widowed,14600.0
10,Florida,0.0,33,Female,White,Never married/single,23000.0
11,Florida,37000.0,51,Female,White,Divorced,37000.0
12,Florida,32000.0,62,Female,White,Divorced,32000.0
13,Florida,113000.0,8,Male,White,Never married/single,NaN
14,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,Florida,48000.0,1,Male,White,Never married/single,NaN
18,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,Florida,31600.0,80,Female,White,Widowed,31600.0
22,Florida,50090.0,2,Male,White,Never married/single,NaN
23,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,Florida,90000.0,12,Male,White,Never married/single,NaN
25,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,Florida,103700.0,8,Female,White,Never married/single,NaN
27,Florida,0.0,67,Male,Black,Widowed,8400.0
28,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...
470,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [33]:
cen_sus['family_minus_personal_income'] = cen_sus['total_family_income'] - cen_sus ['total_personal_income']
cen_sus['family_income_squared'] = cen_sus['total_family_income']**2
cen_sus

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0,14550.0,2.117025e+08
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0,9800.0,5.198400e+08
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0,-20000.0,0.000000e+00
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN,NaN,5.290000e+08
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0,12000.0,2.304000e+09
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0,47000.0,5.476000e+09
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0,11200.0,5.290000e+08
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0,26000.0,5.476000e+09
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0,20000.0,3.600000e+09
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0,0.0,2.131600e+08
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0,-23000.0,0.000000e+00
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0,0.0,1.369000e+09
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0,0.0,1.024000e+09
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN,NaN,1.276900e+10
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0,70900.0,5.913610e+09
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0,84000.0,1.002001e+10
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0,36000.0,2.304000e+09
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN,NaN,2.304000e+09
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0,37200.0,3.271840e+09
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0,39150.0,1.931602e+09
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0,21000.0,2.401000e+09
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0,0.0,9.985600e+08
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN,NaN,2.509008e+09
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0,15500.0,4.199040e+09
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN,NaN,8.100000e+09
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0,4000.0,1.468422e+09
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN,NaN,1.075369e+10
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0,-8400.0,0.000000e+00
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0,67000.0,4.998490e+09
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0,60000.0,4.199040e+09
...,...,...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN,NaN,7.371225e+08
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0,37500.0,1.624090e+09
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0,11900.0,3.459600e+08
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0,NaN,NaN
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0,-16000.0,0.000000e+00
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0,0.0,5.760000e+08
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN,NaN,5.760000e+08
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN,NaN,3.204100e+08
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN,NaN,1.046522e+09
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN,NaN,1.789290e+09
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0,17800.0,3.168400e+08
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0,6000.0,1.089000e+09
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0,NaN,NaN
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0,23000.0,1.936000e+09
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0,15200.0,6.100900e+08
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0,-2200.0,0.000000e+00
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0,54000.0,4.761000e+09
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0,51200.0,3.636090e+09
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN,NaN,2.250000e+10
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0,68000.0,2.924100e+10
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0,35000.0,1.060900e+10
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0,37200.0,2.672890e+09
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0,97800.0,1.435204e+10
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0,0.0,3.240000e+08
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN,NaN,2.034010e+09
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0,0.0,7.225000e+07
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN,NaN,3.069160e+09
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0,0.0,2.250000e+08
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0,NaN,NaN
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0,19570.0,1.549997e+09

# Question 6

In [59]:
cen[cen['state_fips_code']=="Connecticut"]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
274,2000,Connecticut,NaN,56,Female,Black,Never married/single,3600.0,NaN,NaN
275,2000,Connecticut,0.0,52,Male,White,Divorced,51000.0,-51000.0,0.000000e+00
276,2000,Connecticut,80100.0,16,Male,White,Never married/single,0.0,80100.0,6.416010e+09
277,2000,Connecticut,129300.0,32,Female,White,Married/spouse present,34300.0,95000.0,1.671849e+10

In [40]:
cen [cen['total_family_income']<75000]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0,14550.0,2.117025e+08
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0,9800.0,5.198400e+08
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0,-20000.0,0.000000e+00
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN,NaN,5.290000e+08
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0,12000.0,2.304000e+09
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0,47000.0,5.476000e+09
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0,11200.0,5.290000e+08
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0,26000.0,5.476000e+09
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0,20000.0,3.600000e+09
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0,0.0,2.131600e+08
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0,-23000.0,0.000000e+00
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0,0.0,1.369000e+09
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0,0.0,1.024000e+09
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0,36000.0,2.304000e+09
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN,NaN,2.304000e+09
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0,37200.0,3.271840e+09
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0,39150.0,1.931602e+09
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0,21000.0,2.401000e+09
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0,0.0,9.985600e+08
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN,NaN,2.509008e+09
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0,15500.0,4.199040e+09
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0,4000.0,1.468422e+09
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0,-8400.0,0.000000e+00
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0,67000.0,4.998490e+09
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0,60000.0,4.199040e+09
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0,7000.0,3.600000e+09
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0,15000.0,4.410000e+08
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0,40000.0,1.600000e+09
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0,12500.0,2.992900e+08
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0,26300.0,3.757690e+09
...,...,...,...,...,...,...,...,...,...,...
461,2000,Missouri,9400.0,81,Female,White,Widowed,9400.0,0.0,8.836000e+07
462,2000,Missouri,74000.0,12,Male,White,Never married/single,NaN,NaN,5.476000e+09
463,2000,Missouri,25280.0,81,Male,White,Married/spouse present,16300.0,8980.0,6.390784e+08
464,2000,Missouri,55500.0,17,Female,White,Never married/single,0.0,55500.0,3.080250e+09
465,2000,Missouri,22200.0,30,Male,White,Married/spouse present,15700.0,6500.0,4.928400e+08
468,2000,Pennsylvania,74490.0,42,Male,White,Married/spouse present,68020.0,6470.0,5.548760e+09
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN,NaN,4.000000e+08
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN,NaN,7.371225e+08
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0,37500.0,1.624090e+09
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0,11900.0,3.459600e+08
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0,-16000.0,0.000000e+00
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0,0.0,5.760000e+08
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN,NaN,5.760000e+08
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN,NaN,3.204100e+08
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN,NaN,1.046522e+09
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN,NaN,1.789290e+09
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0,17800.0,3.168400e+08
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0,6000.0,1.089000e+09
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0,23000.0,1.936000e+09
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0,15200.0,6.100900e+08
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0,-2200.0,0.000000e+00
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0,54000.0,4.761000e+09
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0,51200.0,3.636090e+09
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0,37200.0,2.672890e+09
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0,0.0,3.240000e+08
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN,NaN,2.034010e+09
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0,0.0,7.225000e+07
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN,NaN,3.069160e+09
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0,0.0,2.250000e+08
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0,19570.0,1.549997e+09

In [41]:
cen [(cen['age']>30)&cen['age']<50]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0,14550.0,2.117025e+08
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0,9800.0,5.198400e+08
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0,-20000.0,0.000000e+00
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN,NaN,5.290000e+08
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0,12000.0,2.304000e+09
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0,47000.0,5.476000e+09
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0,11200.0,5.290000e+08
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0,26000.0,5.476000e+09
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0,20000.0,3.600000e+09
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0,0.0,2.131600e+08
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0,-23000.0,0.000000e+00
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0,0.0,1.369000e+09
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0,0.0,1.024000e+09
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN,NaN,1.276900e+10
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0,70900.0,5.913610e+09
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0,84000.0,1.002001e+10
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0,36000.0,2.304000e+09
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN,NaN,2.304000e+09
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0,37200.0,3.271840e+09
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0,39150.0,1.931602e+09
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0,21000.0,2.401000e+09
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0,0.0,9.985600e+08
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN,NaN,2.509008e+09
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0,15500.0,4.199040e+09
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN,NaN,8.100000e+09
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0,4000.0,1.468422e+09
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN,NaN,1.075369e+10
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0,-8400.0,0.000000e+00
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0,67000.0,4.998490e+09
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0,60000.0,4.199040e+09
...,...,...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN,NaN,7.371225e+08
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0,37500.0,1.624090e+09
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0,11900.0,3.459600e+08
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0,NaN,NaN
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0,-16000.0,0.000000e+00
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0,0.0,5.760000e+08
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN,NaN,5.760000e+08
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN,NaN,3.204100e+08
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN,NaN,1.046522e+09
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN,NaN,1.789290e+09
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0,17800.0,3.168400e+08
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0,6000.0,1.089000e+09
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0,NaN,NaN
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0,23000.0,1.936000e+09
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0,15200.0,6.100900e+08
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0,-2200.0,0.000000e+00
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0,54000.0,4.761000e+09
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0,51200.0,3.636090e+09
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN,NaN,2.250000e+10
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0,68000.0,2.924100e+10
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0,35000.0,1.060900e+10
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0,37200.0,2.672890e+09
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0,97800.0,1.435204e+10
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0,0.0,3.240000e+08
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN,NaN,2.034010e+09
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0,0.0,7.225000e+07
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN,NaN,3.069160e+09
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0,0.0,2.250000e+08
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0,NaN,NaN
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0,19570.0,1.549997e+09

In [46]:
cen[(cen['race_general']=="White")|(cen['race_general']=="Black")]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0,9800.0,5.198400e+08
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0,-20000.0,0.000000e+00
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN,NaN,5.290000e+08
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0,12000.0,2.304000e+09
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0,47000.0,5.476000e+09
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0,11200.0,5.290000e+08
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0,26000.0,5.476000e+09
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0,20000.0,3.600000e+09
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0,0.0,2.131600e+08
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0,-23000.0,0.000000e+00
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0,0.0,1.369000e+09
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0,0.0,1.024000e+09
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN,NaN,1.276900e+10
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0,70900.0,5.913610e+09
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0,84000.0,1.002001e+10
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0,36000.0,2.304000e+09
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN,NaN,2.304000e+09
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0,37200.0,3.271840e+09
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0,39150.0,1.931602e+09
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0,21000.0,2.401000e+09
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0,0.0,9.985600e+08
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN,NaN,2.509008e+09
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0,15500.0,4.199040e+09
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN,NaN,8.100000e+09
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0,4000.0,1.468422e+09
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN,NaN,1.075369e+10
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0,-8400.0,0.000000e+00
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0,67000.0,4.998490e+09
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0,60000.0,4.199040e+09
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0,7000.0,3.600000e+09
...,...,...,...,...,...,...,...,...,...,...
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN,NaN,4.000000e+08
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN,NaN,7.371225e+08
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0,37500.0,1.624090e+09
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0,11900.0,3.459600e+08
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0,NaN,NaN
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0,-16000.0,0.000000e+00
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0,0.0,5.760000e+08
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN,NaN,5.760000e+08
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN,NaN,3.204100e+08
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN,NaN,1.046522e+09
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN,NaN,1.789290e+09
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0,6000.0,1.089000e+09
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0,NaN,NaN
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0,23000.0,1.936000e+09
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0,15200.0,6.100900e+08
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0,-2200.0,0.000000e+00
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0,54000.0,4.761000e+09
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0,51200.0,3.636090e+09
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN,NaN,2.250000e+10
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0,68000.0,2.924100e+10
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0,35000.0,1.060900e+10
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0,37200.0,2.672890e+09
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0,97800.0,1.435204e+10
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0,0.0,3.240000e+08
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN,NaN,2.034010e+09
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0,0.0,7.225000e+07
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN,NaN,3.069160e+09
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0,0.0,2.250000e+08
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0,NaN,NaN
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0,19570.0,1.549997e+09

# Question 7

In [54]:
cen[cen['total_personal_income'].isnull()]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN,NaN,5.290000e+08
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN,NaN,1.276900e+10
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN,NaN,2.304000e+09
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN,NaN,2.509008e+09
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN,NaN,8.100000e+09
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN,NaN,1.075369e+10
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN,NaN,3.600000e+07
44,2000,New York,13000.0,1,Male,White,Never married/single,NaN,NaN,1.690000e+08
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN,NaN,4.626720e+09
49,2000,New York,12400.0,7,Male,White,Never married/single,NaN,NaN,1.537600e+08
51,2000,New York,65000.0,1,Female,White,Never married/single,NaN,NaN,4.225000e+09
54,2000,New York,81710.0,14,Male,White,Never married/single,NaN,NaN,6.676524e+09
59,2000,New York,168200.0,6,Female,White,Never married/single,NaN,NaN,2.829124e+10
63,2000,New York,17000.0,2,Male,Two major races,Never married/single,NaN,NaN,2.890000e+08
65,2000,New York,18800.0,10,Female,Black,Never married/single,NaN,NaN,3.534400e+08
71,2000,New York,0.0,7,Male,White,Never married/single,NaN,NaN,0.000000e+00
77,2000,New York,77600.0,2,Male,White,Never married/single,NaN,NaN,6.021760e+09
80,2000,New York,75000.0,2,Male,White,Never married/single,NaN,NaN,5.625000e+09
81,2000,New York,104000.0,10,Female,White,Never married/single,NaN,NaN,1.081600e+10
84,2000,Wyoming,146000.0,12,Female,White,Never married/single,NaN,NaN,2.131600e+10
89,2000,Alabama,33600.0,7,Male,White,Never married/single,NaN,NaN,1.128960e+09
94,2000,California,67500.0,3,Female,White,Never married/single,NaN,NaN,4.556250e+09
95,2000,California,21800.0,6,Male,Other Asian or Pacific Islander,Never married/single,NaN,NaN,4.752400e+08
103,2000,California,21000.0,3,Female,White,Never married/single,NaN,NaN,4.410000e+08
107,2000,California,82300.0,5,Male,Chinese,Never married/single,NaN,NaN,6.773290e+09
127,2000,California,27500.0,13,Male,Two major races,Never married/single,NaN,NaN,7.562500e+08
129,2000,California,37600.0,4,Male,Two major races,Never married/single,NaN,NaN,1.413760e+09
132,2000,California,7500.0,7,Male,Other,Never married/single,NaN,NaN,5.625000e+07
143,2000,California,99600.0,8,Male,White,Never married/single,NaN,NaN,9.920160e+09
144,2000,California,18500.0,6,Male,White,Never married/single,NaN,NaN,3.422500e+08
...,...,...,...,...,...,...,...,...,...,...
375,2000,North Carolina,13460.0,8,Female,Two major races,Never married/single,NaN,NaN,1.811716e+08
377,2000,North Carolina,39500.0,4,Male,White,Never married/single,NaN,NaN,1.560250e+09
380,2000,South Carolina,48300.0,5,Female,White,Never married/single,NaN,NaN,2.332890e+09
383,2000,South Carolina,22000.0,4,Female,White,Never married/single,NaN,NaN,4.840000e+08
388,2000,South Carolina,29600.0,7,Male,Two major races,Never married/single,NaN,NaN,8.761600e+08
405,2000,Washington,23600.0,2,Female,Other Asian or Pacific Islander,Never married/single,NaN,NaN,5.569600e+08
406,2000,Washington,17100.0,4,Male,Other,Never married/single,NaN,NaN,2.924100e+08
413,2000,Wisconsin,50000.0,10,Male,White,Never married/single,NaN,NaN,2.500000e+09
418,2000,Wisconsin,14620.0,9,Female,White,Never married/single,NaN,NaN,2.137444e+08
419,2000,Arkansas,10940.0,6,Female,Black,Never married/single,NaN,NaN,1.196836e+08
423,2000,Indiana,42000.0,5,Female,Other,Never married/single,NaN,NaN,1.764000e+09
435,2000,Indiana,130000.0,8,Male,White,Never married/single,NaN,NaN,1.690000e+10
437,2000,Indiana,62490.0,9,Male,White,Never married/single,NaN,NaN,3.905000e+09
438,2000,Indiana,67300.0,7,Male,White,Never married/single,NaN,NaN,4.529290e+09
446,2000,Louisiana,500.0,10,Male,Black,Never married/single,NaN,NaN,2.500000e+05
449,2000,Louisiana,55800.0,4,Male,White,Never married/single,NaN,NaN,3.113640e+09
455,2000,Mississippi,3300.0,3,Male,Black,Never married/single,NaN,NaN,1.089000e+07
459,2000,Missouri,36400.0,3,Male,White,Never married/single,NaN,NaN,1.324960e+09
462,2000,Missouri,74000.0,12,Male,White,Never married/single,NaN,NaN,5.476000e+09
466,2000,Missouri,79100.0,10,Male,White,Never married/single,NaN,NaN,6.256810e+09
467,2000,Pennsylvania,75050.0,5,Female,White,Never married/single,NaN,NaN,5.632502e+09
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN,NaN,4.000000e+08
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN,NaN,7.371225e+08
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN,NaN,5.760000e+08
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN,NaN,3.204100e+08
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN,NaN,1.046522e+09
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN,NaN,1.789290e+09
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN,NaN,2.250000e+10
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN,NaN,2.034010e+09
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN,NaN,3.069160e+09

# Question 8

In [55]:
cen.isnull()

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_minus_personal_income,family_income_squared
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,True,True,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,True,True,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,True,True,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,True,True,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,True,True,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
470,False,False,False,False,False,False,False,True,True,False
471,False,False,False,False,False,False,False,False,False,False
472,False,False,False,False,False,False,False,False,False,False
473,False,False,True,False,False,False,False,False,True,True
474,False,False,False,False,False,False,False,False,False,False
475,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,True,True,False
477,False,False,False,False,False,False,False,True,True,False
478,False,False,False,False,False,False,False,True,True,False
479,False,False,False,False,False,False,False,True,True,False
480,False,False,False,False,False,False,False,False,False,False
481,False,False,False,False,False,False,False,False,False,False
482,False,False,True,False,False,False,False,False,True,True
483,False,False,False,False,False,False,False,False,False,False
484,False,False,False,False,False,False,False,False,False,False
485,False,False,False,False,False,False,False,False,False,False
486,False,False,False,False,False,False,False,False,False,False
487,False,False,False,False,False,False,False,False,False,False
488,False,False,False,False,False,False,False,True,True,False
489,False,False,False,False,False,False,False,False,False,False
490,False,False,False,False,False,False,False,False,False,False
491,False,False,False,False,False,False,False,False,False,False
492,False,False,False,False,False,False,False,False,False,False
493,False,False,False,False,False,False,False,False,False,False
494,False,False,False,False,False,False,False,True,True,False
495,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,True,True,False
497,False,False,False,False,False,False,False,False,False,False
498,False,False,True,False,False,False,False,False,True,True
499,False,False,False,False,False,False,False,False,False,False

cen.isnull() represents all data points where no entry was given