In [30]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [31]:
cen = pd.read_csv('census.csv')
cen

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

# Question 1
Define a piecewise function using an "if, elif, else" statement

In [32]:
cen_q1 = cen.drop(cen.isnull())
cen_q1

KeyError: "['census_year' 'state_fips_code' 'total_family_income' 'age' 'sex'\n 'race_general' 'marital_status' 'total_personal_income'] not found in axis"

In [ ]:
def piecewise(x)
    if (x==2): return 0
    else: return 1

# Question 2
What are the different ways of handling ties using "rank()"?

# Question 3
Without changing the original census dataframe, create a copy of the census dataframe and remove all rows with missing data and adds the following columns

square root of total family income (use apply())

total family income adjusted to 2020-dollars, use average inflation rate of 1.2% increase each year (use lambda functions)

birth year of person filling out the census (there is a way to do this very quickly, but it takes some thought)

# Question 4
Create two new dataframes containing all columns of the original 'census' dataframe restrictied to include: 

Only males with the "total family income" in increasing order.  

Only females with the "total family income" in decreasing order.

In [33]:
cen_males= cen[cen['sex']=='Male']
cen_males.sort_values(by='total_family_income', ascending=True, inplace=True)
cen_males

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
71,2000,New York,0.0,7,Male,White,Never married/single,NaN
212,2000,Ohio,0.0,37,Male,White,Never married/single,22000.0
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
402,2000,Washington,0.0,39,Male,American Indian or Alaska Native,Never married/single,0.0
408,2000,West Virginia,0.0,87,Male,White,Widowed,0.0
47,2000,New York,0.0,36,Male,White,Never married/single,17500.0
275,2000,Connecticut,0.0,52,Male,White,Divorced,51000.0
308,2000,New Mexico,0.0,46,Male,White,Divorced,44000.0
450,2000,Louisiana,0.0,54,Male,Black,Divorced,12100.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
303,2000,Nevada,0.0,6,Male,White,Never married/single,NaN
36,2000,Florida,0.0,18,Male,White,Never married/single,2000.0
446,2000,Louisiana,500.0,10,Male,Black,Never married/single,NaN
241,2000,Texas,2800.0,5,Male,White,Never married/single,NaN
455,2000,Mississippi,3300.0,3,Male,Black,Never married/single,NaN
287,2000,Kentucky,3800.0,60,Male,Black,Widowed,3800.0
374,2000,North Carolina,4800.0,30,Male,Black,Never married/single,0.0
382,2000,South Carolina,5000.0,40,Male,White,Divorced,5000.0
417,2000,Wisconsin,5080.0,21,Male,White,Never married/single,6420.0
323,2000,Arizona,6000.0,10,Male,White,Never married/single,NaN
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN
132,2000,California,7500.0,7,Male,Other,Never married/single,NaN
424,2000,Indiana,8000.0,85,Male,Black,Widowed,8000.0
242,2000,Texas,9200.0,0,Male,Black,Never married/single,NaN
181,2000,Maryland,9500.0,54,Male,Black,Never married/single,1600.0
56,2000,New York,9500.0,16,Male,White,Never married/single,1800.0
130,2000,California,9700.0,77,Male,White,Married/spouse present,9700.0
448,2000,Louisiana,10000.0,54,Male,Black,Married/spouse present,0.0
361,2000,Minnesota,10000.0,46,Male,White,Never married/single,0.0
...,...,...,...,...,...,...,...,...
243,2000,Texas,150500.0,45,Male,White,Divorced,150500.0
153,2000,Illinois,158000.0,39,Male,White,Married/spouse present,50000.0
137,2000,California,162600.0,45,Male,Other Asian or Pacific Islander,Married/spouse present,160000.0
41,2000,New York,165000.0,63,Male,White,Married/spouse present,123000.0
58,2000,New York,168200.0,34,Male,White,Married/spouse present,121600.0
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
415,2000,Wisconsin,175000.0,61,Male,White,Married/spouse present,55000.0
135,2000,California,193000.0,72,Male,Chinese,Married/spouse present,20000.0
257,2000,Texas,199000.0,14,Male,White,Never married/single,NaN
182,2000,Maryland,208100.0,69,Male,White,Married/spouse present,49700.0
244,2000,Texas,237000.0,45,Male,White,Married/spouse present,155000.0
198,2000,New Jersey,342000.0,40,Male,Other Asian or Pacific Islander,Married/spouse present,317000.0
131,2000,California,353100.0,60,Male,White,Married/spouse present,330000.0
185,2000,Maryland,360900.0,6,Male,White,Never married/single,NaN
288,2000,Kentucky,458000.0,57,Male,White,Married/spouse present,456000.0
315,2000,Oregon,627300.0,10,Male,White,Never married/single,NaN
272,2000,Colorado,892050.0,46,Male,White,Married/spouse present,446000.0
48,2000,New York,NaN,28,Male,White,Separated,0.0
61,2000,New York,NaN,17,Male,Black,Never married/single,2000.0
62,2000,New York,NaN,37,Male,Black,Never married/single,0.0
116,2000,California,NaN,22,Male,White,Never married/single,14100.0
177,2000,Maryland,NaN,25,Male,Black,Married/spouse absent,19200.0
245,2000,Texas,NaN,36,Male,Black,Never married/single,90.0
332,2000,Georgia,NaN,40,Male,Black,Married/spouse absent,25000.0
425,2000,Indiana,NaN,35,Male,Black,Never married/single,0.0
443,2000,Louisiana,NaN,44,Male,Black,Married/spouse absent,0.0
456,2000,Mississippi,NaN,31,Male,White,Never married/single,25000.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0

# Question 5
Create and print a new dataframe that has the average "total family income" in each state.

In [ ]:
cen_hw5 = cen [['state_fips_code','total_family_income']].groupby('state_fips_code').mean()
cen_hw5

# Question 6
Create and print a new dataframe with the average age for each race.

In [ ]:
cen_hw6 = cen[['race_general','age']].groupby('race_general').mean()
cen_hw6

# Question 7
Print a pivot table that gives the average personal income in each state, separating by sex.

In [ ]:

cen_hw7 = pd.pivot_table(
    cen,
    values = 'total_personal_income',
    index = 'state_fips_code',
    columns = 'sex',
    aggfunc = np.mean
)
cen_hw7

# Question 8
Print a scatterplot of personal income by age.

In [ ]:
cen.plot(x= 'age', y = 'total_personal_income', kind = 'scatter', title = 'personal income and age')

# Question 9
Print a histogram of all family incomes.

In [ ]:
cen['total_family_income'].hist()

# Question 10
Print a histogram of all state average family incomes.

In [ ]:
cen_hw5['total_family_income'].hist()